@import url("../App.css");

.navbar{
    display: grid;
    grid-template-areas: 
    "logo links" 
    "search search";
    align-items: center;
    padding: 0 2rem;
}

.crafttube-logo{
    grid-area: logo;
    justify-self: start;
}

.search-field{
    grid-area: search;
    justify-self: center;
}

.search-input{
    padding: 2px 4px;
    border: solid 2px var(--light-text-color);
    border-radius: 5px;
}

.nav-links{
    grid-area: links;
    justify-self: end;
}

.crafttube-logo-img{
    width: 16rem;
}

.btn-theme-change{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-theme-change:hover{
    animation: swing 0.5s ease-in-out;
}

@keyframes swing {
    0%{
        transform: rotate(0deg);
    }   
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media only screen and (min-width: 800px) {
    .navbar{
        grid-template-areas: "logo search links";
    }
}
